@keyframes epilepsy-bg {
    from {
        background-color: #000000;
    }
    to {
        background-color: #ffffff;
    }
}

@keyframes epilepsy-img {
    from {
        filter: invert(0);
    }
    to {
        filter: invert(1);
    }
}

@keyframes scaling {
    0%, 100% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }
}

@font-face {
    font-family: "shlop-rg";
    src: url("data/fonts/shlop/shlop-rg.otf");
}

body {
    animation: epilepsy-bg .1s linear infinite;
}

img {
    width: 32%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: epilepsy-img .1s linear infinite;
}

.container {
    background-color: #131313;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

h1 {
    color: red;
    font-family: "shlop-rg", Arial, Helvetica, sans-serif;
    font-size: 78px;
    text-shadow: 2px 2px #ffffff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%) scaleY(2);
    animation: scaling 2s linear infinite;
}